# DATA MANIPULATION

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("CarPrice_Assignment (1).csv")

In [3]:
df=df.copy()

In [4]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [5]:
df.tail()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [7]:
df.shape

(205, 26)

In [8]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [9]:
df.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [10]:
str_list=df.select_dtypes(include="object").columns

In [11]:
str_list=list(str_list)

In [12]:
str_list

['CarName',
 'fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

In [13]:
for i in str_list:
    print(f"{i}: "+df[i].unique())

['CarName: alfa-romero giulia' 'CarName: alfa-romero stelvio'
 'CarName: alfa-romero Quadrifoglio' 'CarName: audi 100 ls'
 'CarName: audi 100ls' 'CarName: audi fox' 'CarName: audi 5000'
 'CarName: audi 4000' 'CarName: audi 5000s (diesel)' 'CarName: bmw 320i'
 'CarName: bmw x1' 'CarName: bmw x3' 'CarName: bmw z4' 'CarName: bmw x4'
 'CarName: bmw x5' 'CarName: chevrolet impala'
 'CarName: chevrolet monte carlo' 'CarName: chevrolet vega 2300'
 'CarName: dodge rampage' 'CarName: dodge challenger se'
 'CarName: dodge d200' 'CarName: dodge monaco (sw)'
 'CarName: dodge colt hardtop' 'CarName: dodge colt (sw)'
 'CarName: dodge coronet custom' 'CarName: dodge dart custom'
 'CarName: dodge coronet custom (sw)' 'CarName: honda civic'
 'CarName: honda civic cvcc' 'CarName: honda accord cvcc'
 'CarName: honda accord lx' 'CarName: honda civic 1500 gl'
 'CarName: honda accord' 'CarName: honda civic 1300'
 'CarName: honda prelude' 'CarName: honda civic (auto)'
 'CarName: isuzu MU-X' 'CarName: isuzu D-Max '
 'CarName: isuzu D-Max V-Cross' 'CarName: jaguar xj' 'CarName: jaguar xf'
 'CarName: jaguar xk' 'CarName: maxda rx3' 'CarName: maxda glc deluxe'
 'CarName: mazda rx2 coupe' 'CarName: mazda rx-4'
 'CarName: mazda glc deluxe' 'CarName: mazda 626' 'CarName: mazda glc'
 'CarName: mazda rx-7 gs' 'CarName: mazda glc 4'
 'CarName: mazda glc custom l' 'CarName: mazda glc custom'
 'CarName: buick electra 225 custom' 'CarName: buick century luxus (sw)'
 'CarName: buick century' 'CarName: buick skyhawk'
 'CarName: buick opel isuzu deluxe' 'CarName: buick skylark'
 'CarName: buick century special'
 'CarName: buick regal sport coupe (turbo)' 'CarName: mercury cougar'
 'CarName: mitsubishi mirage' 'CarName: mitsubishi lancer'
 'CarName: mitsubishi outlander' 'CarName: mitsubishi g4'
 'CarName: mitsubishi mirage g4' 'CarName: mitsubishi montero'
 'CarName: mitsubishi pajero' 'CarName: Nissan versa'
 'CarName: nissan gt-r' 'CarName: nissan rogue' 'CarName: nissan latio'
 'CarName: nissan titan' 'CarName: nissan leaf' 'CarName: nissan juke'
 'CarName: nissan note' 'CarName: nissan clipper' 'CarName: nissan nv200'
 'CarName: nissan dayz' 'CarName: nissan fuga' 'CarName: nissan otti'
 'CarName: nissan teana' 'CarName: nissan kicks' 'CarName: peugeot 504'
 'CarName: peugeot 304' 'CarName: peugeot 504 (sw)'
 'CarName: peugeot 604sl' 'CarName: peugeot 505s turbo diesel'
 'CarName: plymouth fury iii' 'CarName: plymouth cricket'
 'CarName: plymouth satellite custom (sw)'
 'CarName: plymouth fury gran sedan' 'CarName: plymouth valiant'
 'CarName: plymouth duster' 'CarName: porsche macan'
 'CarName: porcshce panamera' 'CarName: porsche cayenne'
 'CarName: porsche boxter' 'CarName: renault 12tl'
 'CarName: renault 5 gtl' 'CarName: saab 99e' 'CarName: saab 99le'
 'CarName: saab 99gle' 'CarName: subaru' 'CarName: subaru dl'
 'CarName: subaru brz' 'CarName: subaru baja' 'CarName: subaru r1'
 'CarName: subaru r2' 'CarName: subaru trezia' 'CarName: subaru tribeca'
 'CarName: toyota corona mark ii' 'CarName: toyota corona'
 'CarName: toyota corolla 1200' 'CarName: toyota corona hardtop'
 'CarName: toyota corolla 1600 (sw)' 'CarName: toyota carina'
 'CarName: toyota mark ii' 'CarName: toyota corolla'
 'CarName: toyota corolla liftback' 'CarName: toyota celica gt liftback'
 'CarName: toyota corolla tercel' 'CarName: toyota corona liftback'
 'CarName: toyota starlet' 'CarName: toyota tercel'
 'CarName: toyota cressida' 'CarName: toyota celica gt'
 'CarName: toyouta tercel' 'CarName: vokswagen rabbit'
 'CarName: volkswagen 1131 deluxe sedan' 'CarName: volkswagen model 111'
 'CarName: volkswagen type 3' 'CarName: volkswagen 411 (sw)'
 'CarName: volkswagen super beetle' 'CarName: volkswagen dasher'
 'CarName: vw dasher' 'CarName: vw rabbit' 'CarName: volkswagen rabbit'
 'CarName: volkswagen rabbit custom' 'CarName: volvo 145e (sw)'
 'CarName: volvo 144ea' 'CarName: volvo 244dl' 'CarName: volvo 245'
 'CarName: volvo 264gl' 'CarName: volvo diesel' 'CarName: volvo 246']
['fueltype: gas' 'fueltype: diesel']
['aspiration: std' 'aspiration: turbo']
['doornumber: two' 'doornumber: four']
['carbody: convertible' 'carbody: hatchback' 'carbody: sedan'
 'carbody: wagon' 'carbody: hardtop']
['drivewheel: rwd' 'drivewheel: fwd' 'drivewheel: 4wd']
['enginelocation: front' 'enginelocation: rear']
['enginetype: dohc' 'enginetype: ohcv' 'enginetype: ohc' 'enginetype: l'
 'enginetype: rotor' 'enginetype: ohcf' 'enginetype: dohcv']
['cylindernumber: four' 'cylindernumber: six' 'cylindernumber: five'
 'cylindernumber: three' 'cylindernumber: twelve' 'cylindernumber: two'
 'cylindernumber: eight']
['fuelsystem: mpfi' 'fuelsystem: 2bbl' 'fuelsystem: mfi'
 'fuelsystem: 1bbl' 'fuelsystem: spfi' 'fuelsystem: 4bbl'
 'fuelsystem: idi' 'fuelsystem: spdi']

In [14]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
car_ID,205.0,103.000000,59.322565,1.00,52.00,103.00,154.00,205.00
symboling,205.0,0.834146,1.245307,-2.00,0.00,1.00,2.00,3.00
wheelbase,205.0,98.756585,6.021776,86.60,94.50,97.00,102.40,120.90
carlength,205.0,174.049268,12.337289,141.10,166.30,173.20,183.10,208.10
carwidth,205.0,65.907805,2.145204,60.30,64.10,65.50,66.90,72.30
carheight,205.0,53.724878,2.443522,47.80,52.00,54.10,55.50,59.80
curbweight,205.0,2555.565854,520.680204,1488.00,2145.00,2414.00,2935.00,4066.00
enginesize,205.0,126.907317,41.642693,61.00,97.00,120.00,141.00,326.00
boreratio,205.0,3.329756,0.270844,2.54,3.15,3.31,3.58,3.94
stroke,205.0,3.255415,0.313597,2.07,3.11,3.29,3.41,4.17
compressionratio,205.0,10.142537,3.972040,7.00,8.60,9.00,9.40,23.00
horsepower,205.0,104.117073,39.544167,48.00,70.00,95.00,116.00,288.00
peakrpm,205.0,5125.121951,476.985643,4150.00,4800.00,5200.00,5500.00,6600.00
citympg,205.0,25.219512,6.542142,13.00,19.00,24.00,30.00,49.00
highwaympg,205.0,30.751220,6.886443,16.00,25.00,30.00,34.00,54.00
price,205.0,13276.710571,7988.852332,5118.00,7788.00,10295.00,16503.00,45400.00

In [15]:
df["fueltype"].value_counts()

gas       185
diesel     20
Name: fueltype, dtype: int64

In [16]:
df["aspiration"].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [17]:
df["doornumber"].value_counts()

four    115
two      90
Name: doornumber, dtype: int64

In [18]:
df["enginelocation"].value_counts()

front    202
rear       3
Name: enginelocation, dtype: int64

In [19]:
df["drivewheel"].value_counts()

fwd    120
rwd     76
4wd      9
Name: drivewheel, dtype: int64

In [20]:
df["fuelsystem"].value_counts()

mpfi    94
2bbl    66
idi     20
1bbl    11
spdi     9
4bbl     3
spfi     1
mfi      1
Name: fuelsystem, dtype: int64

In [21]:
df["carbody"].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: carbody, dtype: int64

In [22]:
df.groupby("fuelsystem")["fueltype"].value_counts()

fuelsystem  fueltype
1bbl        gas         11
2bbl        gas         66
4bbl        gas          3
idi         diesel      20
mfi         gas          1
mpfi        gas         94
spdi        gas          9
spfi        gas          1
Name: fueltype, dtype: int64

In [23]:
df.groupby("carbody")["enginelocation"].value_counts()

carbody      enginelocation
convertible  front              5
             rear               1
hardtop      front              6
             rear               2
hatchback    front             70
sedan        front             96
wagon        front             25
Name: enginelocation, dtype: int64

In [24]:
df.groupby("cylindernumber")["enginetype"].value_counts()

cylindernumber  enginetype
eight           ohcv            4
                dohcv           1
five            ohc            11
four            ohc           130
                ohcf           12
                l              11
                dohc            6
six             ohcv            8
                ohc             7
                dohc            6
                ohcf            3
three           l               1
twelve          ohcv            1
two             rotor           4
Name: enginetype, dtype: int64

In [25]:
df.groupby("fuelsystem")["enginetype"].value_counts()

fuelsystem  enginetype
1bbl        ohc           11
2bbl        ohc           57
            ohcf           8
            l              1
4bbl        rotor          3
idi         ohc           15
            l              5
mfi         ohc            1
mpfi        ohc           54
            ohcv          13
            dohc          12
            ohcf           7
            l              6
            dohcv          1
            rotor          1
spdi        ohc            9
spfi        ohc            1
Name: enginetype, dtype: int64

In [26]:
df.groupby("fuelsystem")["doornumber"].value_counts()

fuelsystem  doornumber
1bbl        two            7
            four           4
2bbl        four          38
            two           28
4bbl        two            3
idi         four          17
            two            3
mfi         two            1
mpfi        four          54
            two           40
spdi        two            7
            four           2
spfi        two            1
Name: doornumber, dtype: int64

In [27]:
df.price[df.price>35000].value_counts().sum()

8

In [28]:
df.price[df.price<7500].value_counts().sum()

44

In [29]:
df.price[(df.price<35000) & (df.price>7500)].value_counts().sum()

153

In [30]:
df.horsepower[df.horsepower>200].value_counts().sum()

5

In [31]:
df.horsepower[df.horsepower<90].value_counts().sum()

88

In [32]:
df.horsepower[(df.horsepower>90) & (df.horsepower<200)].value_counts().sum()

106

In [33]:
df.enginesize[df.enginesize>250].value_counts().sum()

5

In [34]:
df.enginesize[df.enginesize<100].value_counts().sum()

66

In [35]:
df.enginesize[(df.enginesize<250)&(df.enginesize>100)].value_counts().sum()

134